.swiper {
    width: 30vw;
    padding-bottom: 40px !important;
}

.swiper-slide {
    font-size: 200px;
    text-align: center;
}

/*стрелки*/
.swiper-button-next:after,
.swiper-button-prev:after {
    color:hotpink;
}

/*активная точка*/
.swiper-pagination-bullet-active {
    background:hotpink;
}

/*неактивная точка*/
.swiper-pagination-bullet {
    background:hotpink;
}

@media (max-width: 991px) {
    .swiper {
        width: 100%;
    }
}