.swiper {
    width: 30vw;
    padding-bottom: 40px !important;
}

.swiper-slide {
    font-size: 200px;
    text-align: center;
}

@media (max-width: 991px) {
    .swiper {
        width: 100%;
    }
}